.calculator {
  background-color: #85D2D0;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 350px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #000000; 
}

.display {
  background-color: #887BB0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius:10px;
  padding: 10px;
  margin-bottom: 20px;
}

.output {
  font-size: 2em;
  color: #272525;
  text-align: left; 
  padding-left: 10px;
}

.input {
  font-size: 1.5em;
  color: #272525;
  margin-top: 10px;
  text-align: right; 
  padding-left: 10px;
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

button {
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 10px 70px 160px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: background-color 0.2s, transform 0.2s;
}

button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}


.SurnameButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.SurnameButtonContainer .SurnameButton {
  text-align: center; 
}

.SurnameButtonContainer .SurnameButton button {
  background-color: #887BB0;
  font-size: 2em;
  font-weight: bold;
  height: 40px;
  width: auto; 
  padding: 0 20px; 
  margin: 0; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.SurnameButtonContainer .SurnameButton button:hover {
  background-color: #ccc;
  transform: scale(1.05);
}


.button-plus{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
} 
.button-minus{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
 .button-multiply{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
 } 
 .button-clear{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
 }
 .button-equal{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
 }
 .button-divide{
  background-color: #887BB0;
  color: #272525;
  font-size: 1.5em;
  font-weight: bold;
  height: 60px;
  width: 70px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
